<nz-card [nzTitle]="pageHeader" class="login-form">
  <form
    nz-form
    [formGroup]="authForm"
    (ngSubmit)="submitForm()"
    (input)="clearCredError()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter your username!">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="userName"
            placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="errorTpl">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <p nz-typography>If you are new you can create an account</p>
    <!-- eslint-disable-next-line
    @angular-eslint/template/label-has-associated-control -->
    <label nz-checkbox formControlName="isNew">Create account</label>
    <p nz-typography nzType="danger" *ngIf="credentialsError$ | async as err">
      {{ err }}
    </p>
    <button nz-button class="login-form-button" [nzType]="'primary'">
      Log in
    </button>
  </form>
</nz-card>

<ng-template #pageHeader>
  <nz-page-header
    (nzBack)="goToMainPage()"
    nzBackIcon
    nzTitle="Sign in"></nz-page-header>
</ng-template>

<ng-template #errorTpl let-control>
  <ng-container *ngIf="control.hasError('required')">
    Please enter your password!
  </ng-container>
  <ng-container *ngIf="control.hasError('minlength')">
    Password length must be at least 8 chars!
  </ng-container>
</ng-template>
