@use './app/styles/variables.scss' as v;

* {
  box-sizing: border-box;
}

html,body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

a{
  text-decoration: none;
}

p{
  margin: 0;
}
