<nz-card [nzTitle]="pageHeader" class="charts">
  <div class="statistics-container" *ngIf="timers$ | async as timers">
    <app-line-chart
      [timerS]="timers.s"
      [timerM]="timers.m"
      [timerL]="timers.l"></app-line-chart>
    <div class="statistic">
      <h4>Total usage</h4>
      <nz-statistic
        [nzValue]="timers.s.length"
        [nzTitle]="'1-minute timer'"></nz-statistic>
      <nz-statistic
        [nzValue]="timers.m.length"
        [nzTitle]="'5-minute timer'"></nz-statistic>
      <nz-statistic
        [nzValue]="timers.l.length"
        [nzTitle]="'25-minute timer'"></nz-statistic>
    </div>
  </div>
</nz-card>

<ng-template #pageHeader>
  <nz-page-header
    (nzBack)="goToMainPage()"
    nzBackIcon
    nzTitle="Timers usage"></nz-page-header>
</ng-template>
