@use '../../../../styles/variables' as v;

:host{
  display: flex;
  padding: v.$padding-vertical v.$padding-horizontal;
  justify-content: space-between;
  font-size: v.$fs-small;
}

.year{
  color: v.$text-color-secondary;
}
