@use '../../../../styles/variables' as v;

:host{
  display: flex;
  padding: v.$padding-vertical v.$padding-horizontal;
  justify-content: space-between;
  font-size: v.$fs-small;
  border-top: 1px solid v.$border-color;
}
